@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: calc(3 * var(--spacer));
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        bottom: calc(3 * var(--spacer));
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}
