// Toast notification
.toast {
    --toast-count: 1;
    --toast-bottom: calc(var(--spacer) + ((var(--toast-count) - 1) * var(--spacer) * 5));
    align-self: center;
    visibility: hidden;
    min-width: 250px;
    margin-inline: auto;
    background-color: #333;
    color: var(--color-white);
    text-align: center;
    border-radius: var(--spacer);
    padding: var(--spacer);
    position: fixed;
    z-index: 1;
    bottom: var(--toast-bottom);

    &.show {
        visibility: visible;
        animation:
            toastFadein 0.5s,
            toastFadeout 0.5s 2.5s;
    }

    &.danger {
        background-color: var(--color-danger);
    }
    &.success {
        background-color: var(--color-success);
    }
}

@keyframes toastFadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: var(--toast-bottom);
        opacity: 1;
    }
}

@keyframes toastFadeout {
    from {
        bottom: var(--toast-bottom);
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}
