*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

:root {
  --spacer: 10px;
  --rem: 1rem;
  --color-primary-100: hsl(5, 68%, 90%);
  --color-primary-200: hsl(5, 68%, 80%);
  --color-primary-300: hsl(5, 68%, 70%);
  --color-primary-400: hsl(5, 68%, 60%);
  --color-primary-500: hsl(5, 68%, 58%);
  --color-primary-600: hsl(5, 68%, 40%);
  --color-primary-700: hsl(5, 68%, 30%);
  --color-primary-800: hsl(5, 68%, 20%);
  --color-primary-900: hsl(5, 68%, 10%);
  --color-secondary-100: hsl(210, 10%, 90%);
  --color-secondary-200: hsl(210, 10%, 80%);
  --color-secondary-300: hsl(210, 10%, 70%);
  --color-secondary-400: hsl(210, 10%, 60%);
  --color-secondary-500: hsl(210, 10%, 50%);
  --color-secondary-600: hsl(210, 10%, 40%);
  --color-secondary-700: hsl(210, 10%, 30%);
  --color-secondary-800: hsl(210, 10%, 20%);
  --color-secondary-900: hsl(210, 10%, 10%);
  --color-tertiary-100: hsl(210, 10%, 85%);
  --color-tertiary-200: hsl(210, 10%, 70%);
  --color-tertiary-300: hsl(210, 10%, 60%);
  --color-tertiary-400: hsl(210, 10%, 50%);
  --color-tertiary-500: hsl(210, 10%, 40%);
  --color-tertiary-600: hsl(210, 10%, 30%);
  --color-tertiary-700: hsl(210, 10%, 25%);
  --color-tertiary-800: hsl(210, 10%, 20%);
  --color-tertiary-900: hsl(210, 10%, 15%);
  --color-white: #ffffff;
  --color-white-translucent: rgba(255, 255, 255, 0.55);
  --color-success: #4caf50;
  --color-danger: #f44336;
}

[data-theme=light] {
  --color-background-body: var(--color-white);
  --color-background: var(--color-secondary-100);
  --color-background-highlight: var(--color-primary-200);
  --color-border: var(--color-secondary-200);
  --color-text: var(--color-secondary-800);
  --scrollbar-color-thumb: var(--color-secondary-200);
  --scrollbar-color-track: var(--color-tertiary-200);
}

[data-theme=dark] {
  --color-background-body: var(--color-tertiary-600);
  --color-background: var(--color-tertiary-700);
  --color-background-highlight: var(--color-primary-400);
  --color-border: var(--color-tertiary-800);
  --color-text: var(--color-white);
  --scrollbar-color-thumb: var(--color-tertiary-600);
  --scrollbar-color-track: var(--color-tertiary-700);
}

html {
  font-size: var(--rem);
}

body,
html {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--color-background-body);
  color: var(--color-text);
}

/* General reset for SVG icons to ensure consistent styling */
.icon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* Style for buttons containing SVG icons */
button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25em 0.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: calc(var(--spacer) / 2);
  font: inherit;
}
button:has(svg) {
  gap: 0.33em;
  color: currentColor;
}
button svg {
  width: 1.5rem;
  height: 1.5rem;
}
button:focus-within {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-primary-200);
}
button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

#app {
  padding: var(--spacer);
  display: flex;
  gap: var(--spacer);
  flex-direction: column;
  overflow: hidden;
}

#search {
  flex: 0 0 auto;
  font: inherit;
  width: 100%;
  padding: var(--spacer);
  border-radius: var(--spacer);
  border: 1px solid var(--color-border);
}

#phrase-list {
  flex: 1 1 auto;
  list-style: none;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-track);
  gap: var(--spacer);
  padding-bottom: calc(4 * var(--spacer));
}
#phrase-list li {
  position: relative;
  padding: var(--spacer);
  margin-bottom: var(--spacer);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--spacer);
  background-color: var(--color-background);
}
#phrase-list li:focus-within {
  outline: none;
  border-radius: var(--spacer);
  background-color: var(--color-background-highlight);
}
#phrase-list li .phrase-list-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: calc(2 * var(--spacer));
  flex-grow: 1;
}
#phrase-list li .buttons {
  display: flex;
  align-items: center;
}
#phrase-list li .buttons .copy-button,
#phrase-list li .buttons .edit-button,
#phrase-list li .buttons .three-dots {
  background: none;
  border: none;
  cursor: pointer;
  padding: calc(var(--spacer) / 2);
  display: flex;
  align-items: center;
}
#phrase-list li .buttons .copy-button:hover,
#phrase-list li .buttons .edit-button:hover,
#phrase-list li .buttons .three-dots:hover {
  background-color: var(--color-primary-600);
  border-radius: 5px;
}
#phrase-list li .buttons .copy-button img,
#phrase-list li .buttons .edit-button img,
#phrase-list li .buttons .three-dots img {
  width: 1rem;
  height: 1rem;
}
#phrase-list li .menu {
  display: none;
  position: absolute;
  top: 50%;
  right: calc(2.4 * var(--spacer));
  background-color: var(--color-background-body);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  overflow: hidden;
}
#phrase-list li .menu .menu-item {
  padding: var(--spacer);
  cursor: pointer;
}
#phrase-list li .menu .menu-item:hover {
  filter: brightness(1.1);
}
#phrase-list li .menu .menu-item[data-action=delete] {
  background-color: var(--color-danger);
  color: var(--color-white);
}
#phrase-list li .menu .menu-item[data-action=edit] {
  background-color: var(--color-primary-500);
  color: var(--color-white);
}

#add-phrase {
  position: fixed;
  bottom: var(--spacer);
  right: var(--spacer);
  background-color: var(--color-primary-500);
  color: var(--color-white);
  border: none;
  border-radius: 50%;
  width: calc(3 * var(--rem));
  height: calc(3 * var(--rem));
  font-size: calc(2.4 * var(--spacer));
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
#add-phrase:hover {
  background-color: var(--color-primary-600);
}

#db-status {
  position: fixed;
  opacity: 0.69;
  bottom: var(--spacer);
  left: var(--spacer);
  display: flex;
  gap: calc(var(--spacer) / 2);
  align-items: center;
  background-color: var(--color-background-body);
  border-radius: var(--spacer);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: var(--spacer) var(--spacer) calc(var(--spacer) - 0.2em) var(--spacer);
  color: var(--color-secondary-500);
  font-size: calc(0.8 * var(--rem));
  transition: opacity 0.2s ease-in-out;
}
#db-status:hover {
  opacity: 1;
}
#db-status #db-status-indicator {
  transform: translateY(-0.2em);
}

.modal {
  --modal-animation-duration: 0.5s;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity var(--modal-animation-duration) ease;
  place-items: center;
}
.modal.show {
  display: grid;
  opacity: 1;
}
.modal .modal-content {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: var(--spacer);
  background-color: var(--color-background);
  padding: calc(2 * var(--spacer));
  border: 1px solid var(--color-border);
  width: min(80dvw, 120ch);
  height: max(80dvh, var(--rem) * 10);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;
  opacity: 0;
  transform: translateY(-10%);
  transition: opacity var(--modal-animation-duration), transform var(--modal-animation-duration);
}
.modal .modal-content.show {
  opacity: 1;
  transform: translateY(0);
}
.modal .modal-content .modal-header {
  display: flex;
  gap: var(--spacer);
  justify-content: space-between;
}
.modal .modal-content input,
.modal .modal-content textarea,
.modal .modal-content select {
  width: 100%;
  padding: var(--spacer);
  border: 1px solid var(--color-border);
  border-radius: 5px;
  font-size: 1rem;
  font-family: "Arial", sans-serif;
}
.modal .modal-content textarea {
  flex-grow: 1;
  resize: none;
  overflow: auto;
}
.modal .modal-content .radio-group {
  display: flex;
  justify-content: start;
  gap: var(--spacer);
}
.modal .modal-content .radio-group label {
  display: flex;
  align-items: center;
  line-height: 1;
  cursor: pointer;
}
.modal .modal-content .radio-group input[type=radio] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  border: 2px solid var(--color-border);
  border-radius: 50%;
  margin-right: 0.5rem;
  position: relative;
}
.modal .modal-content .radio-group input[type=radio]:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.75rem;
  height: 0.75rem;
  background-color: var(--color-primary-500);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.modal .modal-content .radio-group input[type=radio]:checked:before {
  opacity: 1;
}
.modal .modal-content button {
  align-self: center;
  background-color: var(--color-primary-500);
  color: var(--color-white);
}
.modal .modal-content button:hover {
  background-color: var(--color-primary-600);
}
.modal .modal-content button#saveButton {
  font-size: calc(2 * var(--spacer));
}
.modal .modal-content button.close {
  font-size: var(--rem);
  font-weight: bold;
}

.toast {
  --toast-count: 1;
  --toast-bottom: calc(var(--spacer) + ((var(--toast-count) - 1) * var(--spacer) * 5));
  align-self: center;
  visibility: hidden;
  min-width: 250px;
  margin-inline: auto;
  background-color: #333;
  color: var(--color-white);
  text-align: center;
  border-radius: var(--spacer);
  padding: var(--spacer);
  position: fixed;
  z-index: 1;
  bottom: var(--toast-bottom);
}
.toast.show {
  visibility: visible;
  animation: toastFadein 0.5s, toastFadeout 0.5s 2.5s;
}
.toast.danger {
  background-color: var(--color-danger);
}
.toast.success {
  background-color: var(--color-success);
}

@keyframes toastFadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: var(--toast-bottom);
    opacity: 1;
  }
}
@keyframes toastFadeout {
  from {
    bottom: var(--toast-bottom);
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */